body{
    background-color: rgb(50, 50, 50);
    color: rgb(244, 244, 244);
}
.container{
    display: flex;
    height:96vh;
    justify-content: center;
    align-items: center;
}
.inner-container{
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.137);
    height: 600px;
    width:500px;
}
h1{
    font-size: 60px;
    text-align: center;
}
input{
    font-size: 28px;
    width:200px;
}
select{
    font-size: 18px;
}
button{
    height:30px;
    width:100px;
    font-size: 16px;
}
p{
    font-size: 26px;
}

@media screen and (max-width:600px) {
    .container{
        align-items: flex-start;
        margin-top:60px;
    }
.inner-container{
    box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.137);
    height: 500px;
    width:400px;
}
h1{
    font-size: 50px;
    text-align: center;
}
input{
    font-size: 20px;
    width:150px;
}
select{
    font-size: 14px;
}
button{
    height:22px;
    width:84px;
    font-size: 14px;
}
p{
    font-size: 22px;
}

}

@media screen and (max-width:480px){
    .container{
        align-items: flex-start;
        margin-top:60px;
    }
    .inner-container{
        box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.137);
        height: 500px;
        width:280px;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    input{
        font-size: 20px;
        width:150px;
    }
    select{
        font-size: 14px;
    }
    button{
        height:22px;
        width:84px;
        font-size: 14px;
    }
    p{
        font-size: 22px;
    }

}
@media screen and (max-width:330px){
    .container{
        align-items: flex-start;
        margin-top:60px;
    }
    .inner-container{
        box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.137);
        height: 600px;
        width:200px;
    }
    h1{
        font-size: 28px;
        text-align: center;
    }
    input{
        font-size: 18px;
        width:80px;
    }
    select{
        font-size: 12px;
    }
    button{
        height:20px;
        width:65px;
        font-size: 12px;
    }
    p{
        font-size: 20px;
    }

}
